@import '../../styles/base';


.info-banner {
   
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    
}
.grid-default-style{
    border-radius: 30px;
    text-align: center;
    padding: 20px;
}
.col-6 {
    
    width: 100px;
    height: 90px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    

}
.image01{
    background-image: url('../../../assets/images/box-color-03.png');
    
}
.image02{
    background-image: url('../../../assets/images/box-color-04.png');
    

}
.col-6 .fon{
    height: 30px;
    margin-top: 20px;
    color: azure;
}
.col-6 p{
    margin-top:10px;
    font-size:20px;
    color: #fff;
}
