@import '../../styles/base';


.info-banner {
    background: #00ffd4;
    color: white;
}
.col-6 {
    border-right: 2px solid #fc1472;    
  }
.fon{
    font-size: 30px
}
.fon1{
    border-bottom: 100px
}
 